*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

.header-color{
   background-color: #f4f9fd;
   height: 70px;
}

.header-color2{
  background-color: #ffff;
  height: 70px;
}


.container{
  width: 80%;
  margin: auto;
}

.container hr{
  margin: 20px 0px;
}

.container img{
  float: left;
  padding: 10px 10px;
}

.navbar{
  width: 50%;
  height: 70px;
  float: left;
  padding-top: 10px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.navbar a{
  color: #32495b;
  text-decoration: none;
}

.navbar li{
  line-height: 50px;
  font-size: 16px;
  text-transform: capitalize;
  color: #32495b;
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

.fa-globe-europe{
  display: inline-block;
  width: 15px;
  height: 15px;
}

.fa-angle-down{
  display: inline-block;
  width: 15px;
  height: 15px;
}

.nav-right{
  text-align: right;
}

.btn{
  border-radius: 5px;
  color: #fe775a;
  padding: 5px 10px;
  background-color: transparent;
}

.btn-vuoto{
  border-color: #fe775a;
  border-width: 1px;
}

.btn-pieno{
  color: white;
  background-color: #fe775a;
  border: none;
}

.hubspot-info{
    height: 50px;
}

.header-image{
  height: 580px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
}
