*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

.header-color{
   background-color: #f4f9fd;
   height: 70px;
}

.header-color2{
  background-color: #ffff;
  height: 70px;
}


.container{
  width: 80%;
  margin: auto;
}

.container hr{
  margin: 20px 0px;
}

.container img{
  /* float: left; */
  padding: 10px 10px;
}

.navbar{
  width: 50%;
  height: 70px;
  float: left;
  padding-top: 10px;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

.navbar a{
  color: #32495b;
  text-decoration: none;
}

.navbar li{
  line-height: 50px;
  font-size: 16px;
  text-transform: capitalize;
  color: #32495b;
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

.fa-globe-europe{
  display: inline-block;
  width: 15px;
  height: 15px;
}

.fa-angle-down{
  display: inline-block;
  width: 15px;
  height: 15px;
}

.nav-right{
  text-align: right;
}

.btn{
  border-radius: 5px;
  color: #fe775a;
  padding: 10px 15px;
  background-color: transparent;
}

.btn-vuoto{
  border-color: #fe775a;
  border-width: 1px;
}

.btn-pieno{
  color: white;
  background-color: #fe775a;
  border: none;
}

.hubspot-info{
    height: 50px;
}

.header-image{
  height: 580px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-image .container{
  padding-top: 190px;
}

.box{
  width: 400px;
  text-align: left;
  padding-left: 10px;
}

.box h1{
  font-size: 37px;
  color: #32495b;
}

.box p{
  color: #32495b;
  font-size: 11px;
  margin-top: 25px;
  line-height: 20px;
  margin-bottom: 25px;
}

.box button{
  margin-bottom: 20px;
}

.box small{
  color: #32495b;
  font-size: 9px;
}

/* Classe per il divisore azzurrino di inizio main */
.divisore{
  height: 50px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #afebe4;
}
.upper-main{
  text-align: center;
  background-color: #f4f9fd;
}
.immagine-cubo{
  height: 200px;
  width: 200px;
  background-image: url(../img/Integrations_Illustration_2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.upper-main h2{
  text-transform: capitalize;
  color: #32495b;
}

.upper-main p {
  text-align: center;
  font-size: 10px;
}

.limite{
  margin: auto;
  background-color: inherit;
}

/* Setto delle proprietà per il p che sotto al titolo */
.upper-main p{
  font-size: 11px;
  width: 600px;
  margin-top: 30px;
  line-height: 20px;
  margin: auto;
  margin-top: 30px;
  color: #32495b;
}

.banner-container{
  width: 60%;
  margin: auto;
  border: 2px solid #e8eef3;
  border-radius: 5px;
  background-color: white;
  height: 300px;
  margin-top: 30px;
}

.col1{
  width: 30%;
  height: 200px;
  background-color: white;
  float: left;
  margin-top: 50px;
}

.col1 img{
  width: 150px;
  height: 150px;
}

.col2{
  width: 70%;
  height: 200px;
  /* background-color: green; */
  background-color: white;
  text-align: left;
  float: left;
  color: #32495b;
  margin-top: 50px;
}

.col2 h2{
  text-transform: capitalize;
  margin-top: 10px;
}

.col2 p{
  text-align: left;
  font-size: 13px;
  width: auto;
}

.col2 h4{
  margin-top: 40px;
  text-transform: uppercase;
  display: inline-block;
}
.col2 hr{
  width: 150px;
  display: inline-block;
}

.line{
  height: 2px;
  width: 350px;
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 5px;
  background-color: #32495b;
}
.col2 small{
  display: inline-block;
  margin-right: 30px;
  margin-top: 20px;
}

.col2 i{
  margin: 5px;
  color: #fe775a;
}

.colonna{
  width: 29%;
  margin-right: 3%;
  margin-left: 1%;
  height: 500px;
  background-color: red;
  margin-top: 10px;
  padding: 0px 30px;
  background-color: white;
  border: 2px solid #e9eef4;
  border-radius: 5px;
  float: left;
}

.colonna p{
  margin-bottom: 50px;
}

.colonna h2{
  font-size: 20px;
}

.colonna h4{
  color: #32495b;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-colonne{
  width: 60%;
  height: 500px;
  margin-top: 35px;
}

.container-colonne img{
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.container-colonne p{
  width: auto;
}

.checker p{
  text-align: left;
  margin: auto;
  line-height: normal;
  text-transform: capitalize;
}

.colonna i{
  color: #fe775a;
  margin-right: 15px;
}

.colonna button{
  margin-top: 25px;
}

.middle-main{
   background-color: #00abb6;
   text-align: center;
   margin-top: 40px;
   height: 450px;
   color: white;
}

.middle-main-container{
  width: 60%;
  height: inherit;
  margin: auto;
  padding-top: 30px;
}

.middle-main-container p{
  font-size: 10px;
  width: auto;
  color: white;
}

.fa-handshake{
  background-color: black;
  color: white;
  width: 30px;
  height: 30px;
}

.middle-main-container h2{
  font-size: 24px;
  color: white;
}

.blocco{
  width: 25%;
  height: 100px;
  /* background-color: green; */
  border-right: 1px solid white;
  border-bottom:  1px solid white;
  float: left;
}

.sezione{
  padding-top: 25px;
  text-align: center;

}

.sezione h4{
  margin-bottom: 5px;
}

.sezione h3{
  margin-bottom: 5px;
}

.blocco:last-child{
  border-right: none;
}

.riga:last-child .blocco{
  border-bottom: none
}

.righe{
  margin-top: 40px;
}
