*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

.header-color{
   background-color: #f4f9fd;
   height: 70px;
}

.header-color2{
  background-color: #ffff;
  height: 70px;
}


.container{
  width: 80%;
  margin: auto;
}

.container hr{
  margin: 20px 0px;
}

.container img{
  float: left;
  padding: 10px 10px;
}

.navbar{
  width: 50%;
  height: 70px;
  float: left;
  padding-top: 10px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.navbar a{
  color: #32495b;
  text-decoration: none;
}

.navbar li{
  line-height: 50px;
  font-size: 16px;
  text-transform: capitalize;
  color: #32495b;
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

.fa-globe-europe{
  display: inline-block;
  width: 15px;
  height: 15px;
}

.fa-angle-down{
  display: inline-block;
  width: 15px;
  height: 15px;
}

.nav-right{
  text-align: right;
}

.btn{
  border-radius: 5px;
  color: #fe775a;
  padding: 10px 15px;
  background-color: transparent;
}

.btn-vuoto{
  border-color: #fe775a;
  border-width: 1px;
}

.btn-pieno{
  color: white;
  background-color: #fe775a;
  border: none;
}

.hubspot-info{
    height: 50px;
}

.header-image{
  height: 580px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-image .container{
  padding-top: 190px;
}

.box{
  width: 400px;
  text-align: left;
  padding-left: 10px;
}

.box h1{
  font-size: 37px;
  color: #32495b;
}

.box p{
  color: #32495b;
  font-size: 11px;
  margin-top: 25px;
  line-height: 20px;
  margin-bottom: 25px;
}

.box button{
  margin-bottom: 20px;
}

.box small{
  color: #32495b;
  font-size: 9px;
}

/* Classe per il divisore azzurrino di inizio main */
.divisore{
  height: 50px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #afebe4;
}
.upper-main{
  text-align: center;
  background-color: #f4f9fd;
}
.immagine-cubo{
  height: 200px;
  width: 200px;
  background-image: url(../img/Integrations_Illustration_2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.upper-main h2{
  text-transform: capitalize;
  color: #32495b;
}

.upper-main p {
  text-align: center;
  font-size: 10px;
}

.limite{
  margin: auto;
  background-color: inherit;
}

/* Setto delle proprietà per il p che sotto al titolo */
.upper-main p{
  font-size: 11px;
  width: 600px;
  margin-top: 30px;
  line-height: 20px;
  margin: auto;
  margin-top: 30px;
  color: #32495b;
}
